
*{
    margin: 0;
}
  
  .app{
      background-color: rgb(243, 239, 239);
      height: 100vh;
      
  }
  .app__body{
      display: flex;
      background-color: rgb(255, 232, 232);
  }
 