
.sidebarRow{
	display: flex;
	align-items: center;
	padding: 13px;
	cursor: pointer;
	
}


.sidebarRow:hover{
	background-color:#ffc2cb;
	border-radius: 10px;
}

.sidebarRow > h4 {
	margin-left: 20px;
	font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root{
	font-weight: xx-large;
	color: #b22222;
}